<div class="main-container">
  <div class="main-contents">
    <h1>メッセージ返信</h1>

    <%= form_with model: @message, url: create_reply_message_path(params[:id]), method: :post, html: { class: "message-reply-form" } do |f| %>
      <%= hidden_field_tag :receiver_id, @original_message.sender.id %>

      <div class="form-group">
        <%= f.label :body, "返信内容", class: "form-label" %>
        <%= f.text_area :body, class: "form-textarea" %>
      </div>

      <div class="form-group submit-group">
        <%= f.submit "返信", class: "btn btn-submit" %>
      </div>
    <% end %>

    <div class="return_to_top">
      <%= link_to "戻る", root_path, class: "btn btn-return" %>
    </div>
  </div>
</div>
