<div class="main-container">
  <div class="side-bar">
    <%= render "homes/side_bar" %>
  </div>
  <div class="main-contents">
    <h2>お知らせの編集</h2>
    <%= form_with(model: @notice, local: true) do |f| %>
    <div class="field">
      <%= f.label :content, "内容" %><br>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit "更新する" %>
    </div>
  <% end %>

  <%= button_to "削除する", notice_path(@notice), method: :delete, data: { confirm: "本当に削除しますか？" } %><br>
  <%= link_to "戻る", root_path %>
  </div>
</div>