<% if current_user %>
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="header-name">
        <%= current_user.name %> さん
      </div>
    </div>

    <div class="menus">
      <div class="menu">
        <%= link_to "レッスン日程", lessons_path, class: "menu-link" %>
      </div>
      <% if current_user.teacher? %>
        <div class="menu">
          <%= link_to "お知らせ作成", new_notice_path, class: "menu-link" %>
        </div>
      <% end %>
      <div class="menu">
        <%= link_to 'メッセージ', messages_path, class: "menu-link" %>
      </div>
    </div>

    <div class="logout-area">
      <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout-btn' %>
    </div>
  </div>
<% end %>