<div class="main-container">
  <div class="side-bar">
    <%= render "homes/side_bar" %>
  </div>
  <div class="main-contents">
    <div class="lesson-register">
      <h1>レッスン開始時間編集</h1>
      <div class="register">
      <%= form_with(model: @lesson, local: true) do |form| %>

        <div class="time">
          <%= form.label :start_time %>
          <%= form.datetime_select :start_time %>
        </div>

        <div class="submit">
          <%= form.submit %>
        </div>

      <% end %>
      </div>
      <h2>レッスン削除</h2>
      <div class="delete_lesson">
      <%= link_to "削除", lesson_path(@lesson), data: {turbo_method: :delete} %>
      </div>
      <div class="return_to_calendar">
        <%= link_to "カレンダーに戻る", lessons_path %>
      </div>
    </div>
  </div>
</div>