<!DOCTYPE html>
<html>
  <head>
    <title>LessonKanriKun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main-container">
      <%= render "homes/side_bar" %> <!-- サイドバーは常に表示 -->
      <div class="main-contents">
        <%= yield %> <!-- 各ページの中身がここに差し込まれる -->
      </div>
    </div>
  </body>
</html>
